In [1]:
from database import DataHolder
impo

In [3]:
data_holder = DataHolder('./data')

In [10]:
data_holder._data[data_holder.selected_months["MONTH_2"]]

,PAGE_NAME,IS_MOBILE,RAW_TRAFFIC,RAW_TRAFFIC_WITH_CALL,CALL_TO_TRAFFIC_RATIO
0,main>account>subpage2>subsubpage_n,MOB,307.551720,-27.059287,-0.087983
1,main>account>subpage1>subsubpage_x,MOB,4883.413404,827.197818,0.169389
2,main>it>subpage8>subsubpage_x,MOB,21.888462,4.369653,0.199633
3,main>payments>subpage7>subsubpage_t,MOB,22.853204,8.276328,0.362152
4,main>it>subpage5>subsubpage_k,MOB,681.363525,83.761662,0.122932
...,...,...,...,...,...
1995,main>disputes>subpage7>subsubpage_e,OLB,34.617447,9.474760,0.273699
1996,main>disputes>subpage3>subsubpage_j,OLB,90.834945,1.356919,0.014938
1997,main>disputes>subpage5>subsubpage_u,OLB,156.278032,43.377265,0.277565
1998,main>rewards>subpage1>subsubpage_w,OLB,105.776558,13.897525,0.131386
1999,main>rewards>subpage1>subsubpage_p,OLB,178.623123,38.880658,0.217669

In [27]:
from utils.utils import simulate_traffic, generate_random_pagenames
import numpy as np

In [33]:
pagenames = list(np.unique(generate_random_pagenames(1000)))

In [39]:
months = [f"20220{i}" for i in range(
    8, 10)] + [f"2022{i}" for i in range(
        10, 13)] + [f"20230{i}" for i in range(1, 3)]
seeds = range(len(months))
for i in range(len(months)):
    df = simulate_traffic(1000, pagenames, seeds[i])
    df.to_csv(f"./data/traffic{months[i]}.csv", index=False)

# df1 = simulate_traffic(1000, pagenames, 0)
# df2 = simulate_traffic(1000, pagenames, 42)

In [35]:
df1.to_csv('data/traffic202211.csv', index=False)
df2.to_csv('data/traffic202212.csv', index=False)

In [17]:
df1.sort_values(by=['PAGE_NAME', "IS_MOBILE"], inplace=True)
df2.sort_values(by=['PAGE_NAME', "IS_MOBILE"], inplace=True)

In [37]:
df2.set_index('PAGE_NAME', inplace=True)
df1.set_index('PAGE_NAME', inplace=True)

In [38]:
diff = (df2[["RAW_TRAFFIC"]]-df1[["RAW_TRAFFIC"]]
        ).sort_values(by='RAW_TRAFFIC', ascending=False)

In [24]:
# df1.set_index('PAGE_NAME', inplace=True)
# df2.set_index('PAGE_NAME', inplace=True)
(df2[["RAW_TRAFFIC"]]-df1[["RAW_TRAFFIC"]]).sort_values(by='RAW_TRAFFIC', ascending=False)

                                       RAW_TRAFFIC
PAGE_NAME
main>account>subpage6>subsubpage_w   109275.507820
main>rewards>subpage8>subsubpage_u    94977.403926
main>payments>subpage6>subsubpage_p   40547.969586
main>it>subpage10>subsubpage_q        36019.044075
main>disputes>subpage5>subsubpage_h   34341.873040
...                                            ...
main>rewards>subpage5>subsubpage_h   -39250.582759
main>payments>subpage4>subsubpage_l  -44118.694676
main>it>subpage3>subsubpage_b        -55236.319939
main>payments>subpage7>subsubpage_f  -70022.481414
main>credit>subpage6>subsubpage_a    -93158.370900

[2000 rows x 1 columns]

In [3]:
"""
We have a pandas dataframe with the following format:

+---+------+------+------+------+------+------+------+------------+--------+---------+
| ID|PAGE_1|PAGE_2|PAGE_3|PAGE_4|PAGE_5|PAGE_6|PAGE_7|DAY_OF_MONTH|HAS_CALL|IS_MOBILE|
+---+------+------+------+------+------+------+------+------------+--------+---------+
|  1|     1|     0|     2|     1|     1|     1|     1|           1|       1|        0|
|  2|     0|     3|     0|     3|     0|     0|     2|           1|       1|        1|
|  5|     7|     0|     0|     0|     4|     2|     0|           1|       1|        0|
|  4|     0|     2|     0|     1|     0|     0|     0|           2|       1|        1|
|  3|     1|     0|     1|     0|     0|     0|     1|           3|       1|        0|
+---+------+------+------+------+------+------+------+------------+--------+---------+

Where id is a unique session id. 
PAGE 1 to N contains the number of times the user visited a page in a session.
DAY_OF_MONTH is the day of the month of the session.
HAS_CALL is a boolean indicating whether the user called the call center within 2h of the session.
IS_MOBILE is a boolean indicating whether the user accessed the site from a mobile device or not.
"""
import pandas as pd
import numpy as np

# making a dataframe
df = pd.DataFrame({
    'ID': [1, 2, 5, 4, 3],
    'PAGE_1': [1, 0, 7, 0, 1],
    'PAGE_2': [1, 3, 0, 2, 0],
    'PAGE_3': [2, 0, 0, 0, 1],
    'PAGE_4': [1, 3, 0, 1, 0],
    'PAGE_5': [1, 0, 4, 0, 0],
    'PAGE_6': [1, 0, 2, 0, 0],
    'PAGE_7': [1, 2, 0, 0, 1],
    'DAY_OF_MONTH': [1, 1, 1, 2, 3],
    'HAS_CALL': [1, 1, 1, 1, 1],
    'IS_MOBILE': [0, 1, 0, 1, 0]
})
df.set_index('ID', inplace=True)

In [4]:
# use sdf to calculate the term frequency within each session
# term frequency is the number of times a page was visited during a session
# divided by the total number of visits to all pages in the session
tf = df[df.columns[0:7]].div(df[df.columns[0:7]].sum(axis=1), axis=0)


# use df to calculate the inverse document frequency within each session
# inverse document frequency is the log of the total number of documents
# divided by the number of documents with the word in it
idf = np.log(df.shape[0] / (df[df.columns[0:7]] > 0).sum(axis=0))

# calculate the tf-idf within each session
tf_idf = tf * idf
#normalizing
tf_idf = tf_idf.div(tf_idf.sum(axis=1), axis=0)

In [5]:
# create a new dataframe replacing the original values in df with the tf-idf values
dfx = df.copy()
dfx[df.columns[0:7]] = tf_idf

dfx

,PAGE_1,PAGE_2,PAGE_3,PAGE_4,PAGE_5,PAGE_6,PAGE_7,DAY_OF_MONTH,HAS_CALL,IS_MOBILE
ID,,,,,,,,,,
1,0.089486,0.089486,0.321029,0.089486,0.160514,0.160514,0.089486,1,1,0
2,0.000000,0.375000,0.000000,0.375000,0.000000,0.000000,0.250000,1,1,1
5,0.394089,0.000000,0.000000,0.000000,0.403940,0.201970,0.000000,1,1,0
4,0.000000,0.666667,0.000000,0.333333,0.000000,0.000000,0.000000,2,1,1
3,0.263592,0.000000,0.472816,0.000000,0.000000,0.000000,0.263592,3,1,0

In [9]:
"""
We want to create a new dataframe grouped by `PAGE_NAME`, `DAY_OF_MONTH`, and `IS_MOBILE` with the following format:
PAGE_NAME is the name of the page.
DAY_OF_MONTH is the day of the month the user visited the page.
HAS_CALL is a boolean indicating whether the user called the call center.
IS_MOBILE is a boolean indicating whether the user accessed the site from a mobile device or not.
RAW_VOLUME is sum of column with the same name in the original dataframe for the given group.
TFIDF is the TFIDF of the page for the given group.
"""

In [11]:
new_df['TFIDF'] = new_df.groupby(['PAGE_NAME', 'DAY_OF_MONTH', 'IS_MOBILE'])['RAW_VOLUME'].transform(lambda x: x / x.sum())
new_df

    DAY_OF_MONTH  HAS_CALL  IS_MOBILE PAGE_NAME  RAW_VOLUME     TFIDF
0              1         1          0    PAGE_1           1  0.125000
1              1         1          1    PAGE_1           0       NaN
2              1         1          0    PAGE_1           7  0.875000
3              2         1          1    PAGE_1           0       NaN
4              2         1          0    PAGE_1           1  1.000000
5              1         1          0    PAGE_2           1  1.000000
6              1         1          1    PAGE_2           3  1.000000
7              1         1          0    PAGE_2           0  0.000000
8              2         1          1    PAGE_2           2  1.000000
9              2         1          0    PAGE_2           0       NaN
10             1         1          0    PAGE_3           2  1.000000
11             1         1          1    PAGE_3           0       NaN
12             1         1          0    PAGE_3           0  0.000000
13             2         1          1    PAGE_3           0       NaN
14             2         1          0    PAGE_3           1  1.000000
15             1         1          0    PAGE_4           1  1.000000
16             1         1          1    PAGE_4           3  1.000000
17             1         1          0    PAGE_4           0  0.000000
18             2         1          1    PAGE_4           1  1.000000
19             2         1          0    PAGE_4           0       NaN
20             1         1          0    PAGE_5           1  0.200000
21             1         1          1    PAGE_5           0       NaN
22             1         1          0    PAGE_5           4  0.800000
23             2         1          1    PAGE_5           0       NaN
24             2         1          0    PAGE_5           0       NaN
25             1         1          0    PAGE_6           1  0.333333
26             1         1          1    PAGE_6           0       NaN
27             1         1          0    PAGE_6           2  0.666667
28             2         1          1    PAGE_6           0       NaN
29             2         1          0    PAGE_6           0       NaN
30             1         1          0    PAGE_7           1  1.000000
31             1         1          1    PAGE_7           2  1.000000
32             1         1          0    PAGE_7           0  0.000000
33             2         1          1    PAGE_7           0       NaN
34             2         1          0    PAGE_7           1  1.000000